.flower{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: rgb(34, 21, 6);
    text-decoration: italic;
    padding:0px 50px;
}